/**
 * Styles for resumable field.
 */

#resumablefield--droparea {
  padding: 15px;
  font-size: 13px;
  text-align: center;
  color: #666;
  font-weight: bold;
  background-color: #eee;
  border: 2px dashed #aaa;
  border-radius: 10px;
  margin-top: 40px;
  z-index: 9999;
  margin-bottom: 10px;
}
